.view {
  width: 80%;
  margin: 20px 0 0 10%;
}

.view h2 {
  margin-bottom: 20px;
}

.view h4 {
  margin-bottom: 5px;
}

.view button {
  margin-top: 50px;
}

.edit input {
  margin-bottom: 20px;
}

.edit button {
  width: 0px;
}
