.container {
  width: 100%;
  display: block;
}

.dropdown {
  width: 30%;
  margin: auto;
  display: block;
}

.listReviewers {
  display: block;
  margin: 20px;
}

.assignBtn {
  display: block;
  margin-top: 20px;
  float: right;
}

@media screen and (max-width: 800px) {
  .dropdown {
    width: 60%;
  }
}
