.container {
  display: block;
}

.dropdown {
  display: block;
  margin: 20px;
}

.listReviewers {
  display: block;
  margin: 20px;
}

.assignBtn {
  display: block;
  margin-top: 20px;
  float: right;

}